<header>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-auto text-center">
                <h5 class="brand">Notes App</h5>
            </div>
        </div>
    </div>
</header>

<!--
<div class="notes">

    <a (click)="onSelectNote(note.id)">
        {{note.title}}
        </a>!


    <div class="note-container">

        <h3>currentNote.title</h3>
    <p>
        current note text
        </p>
        <div >
        <button mat-raised-button color="primary" >Edit</button> (click)="onEditNote()" *ngIf="noteSelected()"-->
    <!--    <button mat-raised-button color="warn" >Delete</button> (click)="onDeleteNote()" *ngIf="noteSelected()"
        <button mat-raised-button color="primary" >New Note</button> (click)="onNewNote()"
    </div>
    </div >
    <div class="form-container">
    <form>
        <input  placeholder="Title">


        <textarea  placeholder="Note text"></textarea>

        <button mat-raised-button color="primary">Update</button>
    </form>
    </div>
</div>-->